body {
  margin: 0;
  padding: 10px;
  font-size: 85%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(images/fond-page.png);
  /* color: #fff; */
}
h2,
h3 {
  margin: 0;
  font-size: 110%;
  background: #282e3d;
  color: #fff;
  padding: 5px;
}
.global {
  width: 766px;
  margin: 0 auto;
}
.header {
  height: 90px;
  padding: 0 6px;
}
.header h1 {
  margin: 0;
  padding-top: 25px;
  font-size: 45px;
  font-weight: normal;
  text-transform: lowercase;
  float: left;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header > p {
  margin: 0;
  padding-top: 45px;
}
.menu {
  float: left;
  width: 140px;
  height: 600px;
  padding-right: 10px;
  padding-left: 0;
  /* background: white; */
}
.menu li {
  list-style: none;
  margin-bottom: 6px;
  background: url(images/menu1-item.png);
  border-radius: 3px;
  padding: 7px;
}
.menu li a {
  text-decoration: none;
}
.menu li:first-child {
  background-image: url(images/menu2-item-special.png);
}
.contenu {
  background-image: url(images/fond-contenu.png);
  overflow: hidden;
  padding: 10px;
  position: relative;
  font-size: 90%;
}
.accueil-col1 {
  background: #fff;
  width: 290px;
  padding: 10px;
  margin-bottom: 10px;
}
.accueil-col3 {
  float: left;
}
.accueil-col3 {
  width: 240px;
  position: absolute;
  top: 10px;
  right: 20px;
  background: #fff;
  padding: 10px;
}
.accueil-col2 {
  background: #fff;
  width: 290px;
  padding: 10px;
}
